{% extends 'events/base.html' %}
{% load static %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <section class="calendar-container">
        <div class="calendar-header">          
            
            <div class="title-container">
                <h1>EVENTS CALENDAR</h1>
                <a href="{% url 'events:new_event' %}" class="event-button">ADD EVENT</a>                
            </div>
            <div class="calendar-buttons">
                <a href="{% url 'events:calendar' %}?{{ previous_month }}" class="back-button">&#10094;</a>
                <a href="{% url 'events:calendar' %}?{{ next_month }}" class="forward-button">&#10095;</a>
            </div>                     
                 
                                        
        </div>       
    
        {{ calendar }}

    </section>
{% endblock %}