* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

body {
    font-family: "Arial";
    background-color: #F6D050;
}

/* Calendar container */

.calendar-container {
    background-color: #FFFFFF;
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 30px auto 0 auto;
    border: 3px solid #000000;    
}

/* Calendar header */

.calendar-header {
    background-color: #FFFFFF;   
    width: 97%;       
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;  
}

.title-container {    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-container h1 {
    text-align: center;
}

.event-button {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 16px 1rem;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: .2s;
}

.event-button:hover {
    background-color: #FFF5D3;
    cursor: pointer;
}

.calendar-buttons {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.back-button, .forward-button {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    background-color: #F6D050;
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 8px 20px;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: .2s;  
}

.back-button:hover, .forward-button:hover {
    background-color: #FFEBA6;
    cursor: pointer;
}

/* Calendar */

table {
    background-color: #FFFFFF;       
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

table tr {
    padding: 0;
    margin: 0;
    width: auto;    
}

table th {
    padding: 16px 1rem;
    color: #FFFFFF;
    background-color: #000000;
    width: 14.29%;
    border: 2px solid #000000;      
}

.month {
    font-size: 1.75rem;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
}

table, th, td {
    border-collapse: collapse;
}

td {    
    background-color: #FFFFFF;
    padding: 0.5rem;           
    border: 2px solid #000000;           
}

.content {    
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.date-number {
    text-align: left;    
}

table ul {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

table ul li a {
    display: block;
    background-color: #F6D050;
    padding: 4px 0.25rem;
    border: 2px solid #000000;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    font-size: 0.5rem;
}

table ul li a:hover {
    background-color: #FFEBA6;
    cursor: pointer;
}

/* Main */

main {
    width: 90%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;    
}

/* Event form */

.event-form, .details {
    background-color: #FFFFFF;
    width: 100%;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 32px;    
    border: 3px solid #000000;
    box-shadow: 4px 4px 0 0 hsl(0, 0%, 0%); 
}

.event-form button {    
    color: #000000;
    width: 100%;
    text-align: center;
    background-color: #F6D050;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 16px 1rem;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: .2s;  
}

.event-form button:hover {
    background-color: #FFEBA6;
    cursor: pointer;
}

.event-form div {    
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-form input {
    border: 2px solid #000000;
    padding: 0.5rem;
    width: 100%;
}

.event-details {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Form for deleting an event */

.delete-event {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;    
}

@media screen and (min-width: 576px) {

    /* Calendar container */

    .calendar-container {    
        width: 85%; 
        box-shadow: 4px 4px 0 0 hsl(0, 0%, 0%);       
    }

    /* Calendar header */

    .calendar-header {       
        width: 90%;     
    }

    /* Calendar */

    table {            
        width: 90%;        
    }

    .content {    
        min-height: 200px;    
    }


  

 


}

@media screen and (min-width: 768px) {
    
   
}

@media screen and (min-width: 1000px) {

}

    

@media screen and (min-width: 1200px) {
   
}