* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

body {
    font-family: "Arial";
    background-color: #F6D050;
}

.calendar-container {
    background-color: #FFFFFF;
    width: 90%;
    padding: 8px 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 50px auto 0 auto;
    border: 3px solid #000000;
    box-shadow: 4px 4px 0 0 hsl(0, 0%, 0%); 
}

table {
    background-color: #FFFFFF;       
    width: 100%;
}

.calendar-header {
    background-color: #FFFFFF;   
    width: 100%;       
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.back-button, .forward-button {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    background-color: #F6D050;
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 8px 20px;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: .2s;  
}

.title-container {    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.back-button:hover, .forward-button:hover {
    background-color: #FFEBA6;
    cursor: pointer;
}

table th {
    padding: 16px 1rem;
    color: #FFFFFF;
    background-color: #000000;
    width: 5rem;
    border: 2px solid #000000;      
}

.month {
    font-size: 1.75rem;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
}

table, th, td {
    border-collapse: collapse;
}

td {    
    background-color: #FFFFFF;
    padding: 0.5rem;           
    border: 2px solid #000000;           
}

.content {    
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.date-number {
    text-align: left;    
}

table ul {
    list-style-type: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

table ul li a {
    text-decoration: none;
    color: #000000;
}

table ul li a:hover {
    text-decoration-line: underline;        
    text-decoration-color: #131515;        
    text-underline-offset: 5px;
    cursor: pointer;
}

@media screen and (min-width: 576px) {

    

}

@media screen and (min-width: 768px) {
    
   
}

@media screen and (min-width: 1000px) {

    .calendar-container {
        width: 80%;
    }

    table th {
        width: 9rem;
    }
}

    

@media screen and (min-width: 1200px) {
   
}